/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

.vertical-slider {
	-webkit-appearance: slider-vertical;
}

.pointer-events-bounding-box {
	pointer-events: bounding-box;
}

.pointer-events-all {
	pointer-events: all;
}

.state-active > .inner-node {
	@apply border-sky-800 bg-sky-900 text-white;
	border-width: 8px;
	border-style: solid;
}

.state-active > .shape-circle {
	border-radius: 50%;
}

.state-active > .shape-rect {
	border-radius: 4px;
}

.selected > .inner-node {
	@apply outline-indigo-300 outline-offset-[-4px] outline-dashed outline-4;
	
}

.selected >.shape-circle {
	border-radius: 50%;
}

.loader {
	width: 24px;
	height: 24px;
	border: 2px solid #FFF;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  .loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 0;
	background: #FFFFFF;
	width: 3px;
	height: 12px;
	transform: translateX(-50%);
  }
	  
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 