/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

.vertical-slider {
	-webkit-appearance: slider-vertical;
}

.pointer-events-bounding-box {
	pointer-events: bounding-box;
}

.pointer-events-all {
	pointer-events: all;
}